* {
    text-decoration: none;
}

/*Header*/
body {
    background-color: #030f00;
}

header {
    width: 100%;
    height: 100px;
}

header .otsikko {
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

header nav ul {
    display: block;
    margin: 10px auto;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    text-transform: uppercase;
    border: 1px solid #030f00;
}
nav a:hover {
    color: #40aa0d;
}

header .yhteyttä {
    display: none;
}

/* Esittely */
.slogan {
    background-color: #40aa0d;
    font-size: 20px;
    text-align: center;
    color:#fff;
    margin-bottom: 5px;
    display: block;
}
.teksti {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #003600;
    padding-bottom: 10px;
    padding-top: 5px;
}
.valinta {
    display: block;
    color: white;
}
.tarjoan {
    color:#fff;
    background-color: #003600;
    text-align: center;
    padding-bottom: 20px;
}

/* Kuva */
.img-pt {
    max-width: 100%;
    border-radius: 50%;
    display: block;
    padding-top: 5px;
}


/*palauteboksi*/
.palaute, .palaute1 {
    background-color: #003600;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

/* Footer / Alapalkki */
footer {
    background-color: #40aa0d;
    color: white;
    text-align: center;
    position: sticky;
    bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
}
.footer {
    color:#fff;
}

/*Työpöytä koko*/ /*Pienempi näyttö*/

@media only screen and (min-width: 1000px) {

    /*Otsikko*/
    header .otsikko {
        font-size: 40px;
        margin: 31px 10px;
        text-align: left;
        padding: 0px 20px 0 20px;
        border-right: 3px solid #fff;
        float: left;
    }
    /*linkit*/
    header nav ul {
        margin: 50px 20px;
        float: left;
    }

    header .yhteyttä {
        display: block;
        font-size: 16px;
        color: white;
        line-height: 60px;
        border: 2px solid #ffff;
        float: right;
        padding: 0px 20px;
        margin-top: 25px;
        margin-right: 50px;
    }

    /*Esittely osio*/
    main {
        margin-top: -50px;
    }
    /*Slogan "Tule mukaan...*/
    .slogan {
        background-color: #40aa0d;
        font-size: 30px;
        display: block;
        max-width: 50%;
        margin-left: 50px;
        margin-top: 100px;
        color:#fff;
        text-align: center;
    }
    /*Teksti*/
    .teksti {
        font-size: 17px;
        max-width: 50%;
        margin-left: 50px;
    }
    .valinta {
        display:block;
        text-align: center;
        margin-top: -220px;
    }

    /* Kuva */
    .img-pt {
        max-width: 70%;
        border-radius: 50%;
        display: block;
        margin-left: 120%;
        margin-top: -550px;
    }
    .palaute {
        display: block;
        margin-top: 20px;
    }
    .footer {
        font-size: 20px;
    }
}

/* Työpöytä - Keskikoko */
@media only screen and (min-width: 1260px) {
    .teksti {
        font-size: 17px;
    }
    .valinta {
        margin-top: -400px;
        color: white;
    }
    .palaute {
        display: block;
        margin-top: 20px;
        font-size: 20px;
    }
    .footer {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 30px;
    }
}

/* Työpöytä koko - Isompi näyttö*/
@media only screen and (min-width: 1650px) {

    
    .valinta {
        margin-top: -500px;
    }
    
}

/* Työpöytä koko - Isoin näyttö*/
@media only screen and (min-width: 1850px) {

    /*Esittely osio*/
    main {
        margin-top: -50px;
    }
    /*Slogan "Tule mukaan...*/
    .slogan {
        font-size: 60px;
    }
    /*Teksti*/
    .teksti {
        font-size: 20px;
    }
    .valinta {
        margin-top: -600px;
        color: white;
    }
    .tarjoan {
        color:#fff;
        background-color: #003600;
        text-align: center;
        padding-bottom: 20px;
        font-size: 20px;
    }
    /* Kuva */
    .img-pt {
        max-width: 70%;
        margin-top: -550px;
    }
    .palaute1 {
        background-color: #003600;
        color: white;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 300px;
        font-size: 25px;
    }
}