* {
    text-decoration: none;
}

/*Header*/
body {
    background-color: #030f00;
}

header {
    width: 100%;
    height: 100px;
}

header .otsikko {
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

header nav ul {
    display: block;
    margin: 10px auto;
    /*width: fit-content;*/

}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    text-transform: uppercase;
}

header .yhteyttä {
    display: none;
}

/* Esittely */
.slogan {
    background-color: #40aa0d;
    font-size: 20px;
}
.teksti {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 17px;
    background-color: #003600;
    padding-bottom: 10px;
}
.valinta {
    display: block;
}
.valinta2 {
    padding: 0 25px;
}

/* Kuva */
.img-pt {
    max-width: 100%;
    border-radius: 50%;
    display: block;
    padding-top: 5px;
}


/*palauteboksi*/
.palaute {
    background-color: #003600;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

/* Footer / Alapalkki */
footer {
    background-color: #40aa0d;
    color: white;
    text-align: center;
}



/*Työpöytä koko*/ /*Pienempi näyttö*/

@media only screen and (min-width: 1000px) {
    /*Otsikko*/
    header .otsikko {
        font-size: 40px;
        margin: 31px 10px;
        text-align: left;
        padding: 0px 20px 0 20px;
        border-right: 3px solid #fff;
        float: left;
    }
/*linkit*/
    header nav ul {
        margin: 50px 20px;
        float: left;
    }

    header .yhteyttä {
        display: block;
        font-size: 16px;
        color: white;
        line-height: 60px;
        border: 2px solid #ffff;        ;
        float: right;
        padding: 0px 20px;
        margin-top: 25px;
        margin-right: 50px;
    }

    /*Esittely osio*/
main {
    margin-top: -50px;
}
    /*Slogan "Tule mukaan...*/
 .slogan {
    background-color: #40aa0d;
    font-size: 30px;
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    }
    /*Teksti*/

.teksti {
    font-size: 17px;
    margin-top: 100px;
    max-width: 50%;
    margin-left: 50px;
   /* margin-bottom: 0px;*/
}
.valinta {
    display:block;
    text-align: center;
    margin-top: -380px;
}
.valinta2 {
    padding: 0px;
}
/* Kuva */
.img-pt {
    max-width: 70%;
    border-radius: 50%;
    display: block;
    margin-left: 700px;
    margin-top: -550px;
}
.palaute {
    display: inline-block;
    max-width: 500px;
    margin-left: 370px;
    margin-top: 40px;
    width: fit-content;
}
}

/* Työpöytä koko - Isompi näyttö*/

@media only screen and (min-width: 1300px) {
    .img-pt {
        max-width: 35%;
        border-radius: 50%;
        display: block;
        margin-left: 850px;
        margin-top: -600px;
}
.palaute {
    width: fit-content;
}
}




